.map{
  height:100vh;
}
.map>*{
  pointer-events:fill;
  fill:none;
  stroke:black;
  stroke-width:1;
}
.vertical{
  writing-mode:tb-rl;
}
.highlight{
  display:inline-block;
  position:absolute;
  height:0;
  width:0;
}
.animate{
  animation:lighting 4s;
}
@keyframes lighting {
  0%{
    background-color:rgba(255,255,0,.8);
  }
  30%{
    background-color:rgba(255,140,0,.8);
  }
  100%{
    background-color:rgba(255,140,0,0);
  }
}
