/*----------毎年の様子始まり----------*/
#eachYearMain{
	padding-left:1rem;
}
#eachYearMain a{
	display:block;
	border-bottom:1px gray solid;
	padding:.25rem;
}
#eachYearMain>li{
	list-style:none;
	margin:0;
	border:1px gray solid;
	border-radius:.5rem;
	margin-bottom:1rem;
}
#eachYearMain img{
	width:45%;
	height:auto;
	display:inline;
	vertical-align:middle;
	margin:.25rem;
}

@media only screen and (min-width:700px) and (max-width:1000px){
/*pc分割状態で横２列表示*/
	#eachYearMain>li{
		width:45%;
		display:inline-block;
		margin:2%;
	}
}
@media only screen and (min-width:1000px){
/*pcフル画面で横４列表示*/
	#eachYearMain>li{
		width:22%;
		display:inline-block;
		margin:1%;
	}
}
